<div class="slide">
  <div class="primary-info">
    <p><h2>Upload a PDF</h2></p>
    <%= s3_uploader_form post: "upload/status", as: "file", id: "myS3Uploader", key: @slide.s3_upload_key do %>
      <%= file_field_tag :file, multiple: false %>
    <% end %>
    <div class="btn primary">Select PDF to Upload</div>
  </div>

  <div class="secondary-info">
    <h2>Edit the details</h1>
    <%= form_for(:slide, :url => "#", :method => :put)  do |f| %>
      <%= f.hidden_field :s3_key, :value => @slide.s3_key %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.submit "Upload PDF to save", :class => "btn primary" %>
    <% end %>
  </div>
</div>

<script id="template-upload" type="text/x-tmpl">
  <div class="data-context">
    <p><h2>Watch the Progress</h2></p>
    <div class="progress">
      <div class="bar" id="upload_bar" style="width: 0%"></div>
    </div>
    <div class="progress">
      <div id="processing_bar" style="width: 0%"></div>
    </div>
  </div>
</script>

<% content_for :javascript do %>
  <%= javascript_include_tag 'upload' %>
<% end %>
