<div class="slide">
  <div class="main-player">
    <div class="header primary-color"></div>
    <div class="player">
      <img id="current-slide" src="<%= @slide.page_url 1 %>" width=600px />
    </div>
    <div class="footer primary-color">
      <div class="controls">
        <div class="prev control-btn"></div>
        <div class="next control-btn"></div>
      </div>
      <div class="player-progress-container">
        <div class="player-progress"></div>
      </div>
  </div>
  </div>

  <div class="extra">

    <div class="author">
      <%= image_tag @slide.author.avatar_url, :class => :author_avatar %>
      <div class="author_name"><%= @slide.author.name %></div>
      <div><%= @slide.author.slides.count %> slides</div>
    </div>

    <div class="stats">
      <div class="view_count"><%= @slide.view_count %></div>
    </div>

    <div class="share">Share
      <div class="download">
        <%= link_to "Download PDF", @slide.pdf_url %>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">
  var slidePrefixUrl = "<%= @slide.slide_url_prefix %>";
  var totalPage = "<%= @slide.pages %>";
</script>
