<meta name="session_channel" content="<%=channel_name%>">
<meta name="session_event_server" content="<%=Settings.eventserv%>">
<meta name="session_token" content="<%= session_token%>">

<div class='left-sidebar span6'>
  <div class="main-player">
    <div class="header primary-color">
      <div class='img loading' id='streaming-gif' style='display:none;'><img src='/assets/streamload.gif'></div>
      <div id="fullscreen-btn"></div>
    </div><!--header-->
    <div class="player">
      <img id="current-slide" src="<%= @slide.page_url 1 %>" />
    </div>
    <div class="footer primary-color">
      <div class="controls" style="display:none;">
        <div class="prev control-btn"></div>
        <div class="next control-btn"></div>
      </div>
      <div class="player-progress-container">
        <div class="player-progress" style="width: <%= 100 / @slide.pages %>%;"></div>
      </div>
    </div><!--footer-->
  </div><!--main player-->
  <div id="asking-wrap">
    <input id="input-asking" type="text" >
    <button id="btn-asking" class="btn btn-primary btn-small btn-info" type="button">ASK PRESENTER</button>
  </div>
 </div><!--slide-->

<% unless current_user.nil? %>
  <div id="right-sidebar" class="span5">
    <div id="chat-area">
      <div id="message-area">
      </div>
      <div id="input-chat-area">
        <input id="input-chat" type="text" >
        <button id="chat-btn" class="btn btn-primary btn-small btn-info" type="button">SEND</button>
      </div>
    </div>

    <div id="questions-list">
    </div>  
  </div>
<% end %>

<script type="text/javascript">
  var slidePrefixUrl = "<%= @slide.slide_url_prefix %>";
  var totalPage = "<%= @slide.pages %>";
</script>
<% content_for :javascript do %>
  <%= stylesheet_link_tag 'chat' %>
  <%= stylesheet_link_tag 'slide/viewer' %>
  <%= javascript_include_tag 'slideplayer','streamingfw/receiver','streamingfw/publisher', 'streamingfw/questioncontroller', 'streamingfw/chatcontroller','streamingfw/slidecontroller', 'streamingfw/receiverdomcontroller','slidestream_viewer',"http://streamslide-event.herokuapp.com/faye.js"%>
<% end %>
