<div id='channel-name' style='display:none;'><%= channel_name %></div>
<div style="display:none;" id='event-server'><%= Settings.defaults[:event_server] %></div>
<div class='slide'>
  <div class="main-player">
    <div class="header primary-color">
      <div class='img loading' id='streaming-gif' style='display:none;'><img src='/assets/streamload.gif'></div>
      <div id="fullscreen-btn"></div>
    </div>
    <div class="player">
      <img id="current-slide" src="<%= @slide.page_url 1 %>" />
    </div>
    <div class="footer primary-color">
      <div class="controls" style="display:none;">
        <div class="prev control-btn"></div>
        <div class="next control-btn"></div>
      </div>
    <div class="player-progress-container">
      <div class="player-progress" style="width: <%= 100 / @slide.pages %>%;"></div>
    </div>
  </div>
</div>
<aside>
  <p id="name-area"></p>
  <div id="chat-wrap"><div id="chat-area"></div></div>
  <form id="send-message-area">
    <p id='send-button' class='btn btn-primary'>MESSAGE</p>
    <textarea id="sendie" maxlength = '100' ></textarea>
  </form> 
</aside>
<div class="extra">
  <div class="share">
    <div class='img loading' id='pause-gif' style='display:none;'><img src='/assets/streampause.gif'></div>
    <div class='img loading' id='offline-gif' style='display:none;'><img src='/assets/streamstop.jpeg'></div>
  </div>
  
</div><!--extra-->

<script type="text/javascript">
  var slidePrefixUrl = "<%= @slide.slide_url_prefix %>";
  var totalPage = "<%= @slide.pages %>";
</script>
<% content_for :javascript do %>
  <%= stylesheet_link_tag 'chat' %>
  <%= stylesheet_link_tag 'slide/viewer' %>
  <%= javascript_include_tag 'slideplayer','streamingfw/receiver','streamingfw/publisher', 'streamingfw/slidecontroller', 'streamingfw/receiverdomcontroller','slidestream_viewer',"http://streamslide-event.herokuapp.com/faye.js"%>
<% end %>
