<div class="box-center">
  <div class="signin-wrapper">
    <h2>Sign in using</h2>

    <ul id="social-login" class="signup">
      <li class="facebook">
      <%= link_to "Sign up with your Facebook account",
          user_omniauth_authorize_path(:facebook) %>
      </li>
    </ul>

    <p> or your account </p>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.email_field :email, :placeholder => "Email" %>
      <%= f.password_field :password, :placeholder => "Password" %>

      <% if devise_mapping.rememberable? -%>
        <%= f.hidden_field :remember_me, :value => 1 %>
      <% end -%>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name),
            :class => "btn btn-warning submit"  %>
      <% end -%>
      <%= f.submit "Sign in", :class => "btn primary submit" %>
    <% end %>
  </div>
</div>
