= link_to "Launchvn", root_path, :class => 'brand'
- if user_signed_in?
  = form_tag "#", :id => "search-form" do |f|
    %input#search{:placeholder => "Search slides", :type => "search"}/
.nav-collapse.nav-inverse
  %ul.nav.actions
    - if user_signed_in?
      %li= link_to "Browse", browse_path
      %li= link_to "Upload", '/new'
      %li= link_to "Slideshare", slideshares_path
      %li.dropdown
        .dropdown-toggle{"data-toggle" => "dropdown"}
          = image_tag current_user.avatar_url, :class => :avatar
          = current_user.name
          %span.caret
        %ul.dropdown-menu.pull-right
          %li= link_to "My Decks", current_user
          %li= link_to "Settings", edit_user_registration_path
          %li= link_to "Following", following_path(current_user.id)
        %hr{:style => "margin:0;"}
      %li= link_to "Sign out", destroy_user_session_path, :method => :delete
    - else
      %li= link_to "LOG IN", new_user_session_path
      %li= link_to "SIGN UP", new_user_registration_path
