!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Launchvn"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = yield(:head)

  %body
    %header.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          = render 'layouts/navigation'

    #main{:role => "main"}
      .container
        .content
          .row
            .span16.container
              = render 'layouts/messages'
              = yield

    %footer.container
      = render 'layouts/footer'

    = javascript_include_tag "application"\
    = javascript_include_tag :defaults, "http://streamslide-event.herokuapp.com/faye.js"
    = yield(:javascript)
